<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try {
			ace.settings.check('breadcrumbs', 'fixed')
		} catch (e) {
		}
	</script>

	<ul class="breadcrumb">
		<li><a href="#/retopncontent/list/0">{{'topn_recommend'|translate}}</a></li>
		<li class="active">{{'list'|translate}}</li>
	</ul>
</div>
<!-- .breadcrumb -->

<div class="page-content">
	<div class="space-6"></div>
	<div style="padding-left: 29px;">
		<form class="form-inline">
		</form>
	</div>
	<div class="accordion-style1 panel-group">
		<div class="panel panel-default" style="border: none;">
			<div class="panel-collapse collapse in" id="collapseOne"
				ng-show="collapsed">
				<div class="panel-body"
					style="padding-bottom: 0; padding-top: 0; border: 0;">
					<form class="form-inline">
						
					</form>
				</div>
			</div>
		</div>
	</div>



	<div class="space-6"></div>
	<div class="row" ng-show="true">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover"
					colresizeable>
					<thead>
						<tr>
							<th>{{'select'|translate}}</th>
							<th style="width: 30%;">{{'codeID'|translate}}</th>
							<th style="width: 20%;">{{'totalplaycount'|translate}}</th>
							<th style="width: 20%;">{{'createTime'|translate}}</th>
							<th style="width: 20%;">{{'updateTime'|translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in items" ng-click="selectRow(item)">
							<td>
								<div class="radio">
									<label> <input name="form-field-radio" type="radio"
										ng-value="item" ng-model="$parent.selectItem" class="ace" />
										<span class="lbl"></span>
									</label>
								</div>
							</td>
							<!-- <td ng-bind="item.name" title={{item.name}}></td> -->
							<td title={{item.contentId}}><a class="blue"
								ng-click="savePageOptions()">{{item.contentId}}</a>
							<td ng-bind="item.playCount" title={{item.playCount}}></td>
							<td ng-bind="item.createTime" title={{item.createTime}}></td>
							<td ng-bind="item.updateTime" title={{item.updateTime}}></td>
							

						
						</tr>
					</tbody>
				</table>
			</div>
			<!-- /.table-responsive -->
			<div ng-grid-footer="" class="ng-scope">
			<at-pagination></at-pagination>
				<div class="btn-group">
					<a ng-if="rootPris.security_user_add" class="btn btn-default btn-tool" href="#/retopncontent/add/0"
						style="background-image: url(img/tool/icon_+.png); background-color: #82af6f;">
						{{'add'|translate}} </a> 
					<a ng-if="rootPris.security_user_edit" class="btn btn-default btn-tool"
						href="#/retopncontent/add/{{selectItem.id}}" ng-click="savePageOptions()"
						ng-disabled="selected()"
						style="background-image: url(img/tool/icon_edit.png)">
						{{'edit'|translate}} </a>
					<button  type="button" class="btn btn-default btn-tool"
						ng-click="deleteItem()" ng-disabled="selected()"
						style="background-image: url(img/tool/icon_delete.png)">
						{{'delete'|translate}}</button>
				</div>
			</div>
		</div>
	</div>
</div>